:root {
    font-size: 16px;
    --blue: #697c8c;
    --dark-blue: #686e80;
    --yellow: #e6d8be;
    --dark-yellow: #d2b791;
    --green: #7ba486;
    --dark-green: #2c4533;
    --red: #cf2e2b;
    --dark-red: #9a1314;
}
body {
    background: var(--yellow);
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--dark-yellow);
}
main {
    margin-left: 5rem;
    padding: 1rem;
}
.navbar {
    position: fixed;
    border-right-style: outset;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.logo {
    font-weight: bold;
    margin-bottom: 10rem;
    margin-top: 1rem;
    width: 100%;
}
.top-bar {
    position: relative;
    z-index: 1;
}
@media only screen and (max-width : 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .main {
        margin: 0;
    }
} 

@media only screen and (min-width : 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .nav-item {
        margin-bottom: 3rem;
    }
    .nav-item:last-child {
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
    .top-bar {
        margin-left: 5rem;
        padding: 1rem;
    }
}

