:root {
    font-size: 16px;
    --blue: #697c8c;
    --dark-blue: #686e80;
    --yellow: #e6d8be;
    --dark-yellow: #d2b791;
    --green: #7ba486;
    --dark-green: #2c4533;
    --red: #cf2e2b;
    --dark-red: #9a1314;
    --transition-speed: 600ms;
}
body {
    background: var(--yellow);
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--dark-yellow);
}
main {
    margin-left: 5rem;
    padding: 1rem;
}
.navbar {
    position: fixed;
    background-color: var(--dark-yellow);
    transition: width 200ms ease;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--dark-blue);
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color:var(--dark-red);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
navbar:hover .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.navbar:hover svg {
    fill: var(--red);
    opacity: 0.6;
}

@media only screen and (max-width : 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .main {
        margin: 0;
    }
} 

@media only screen and (min-width : 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }
}

